.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2px;
	align-items: center;
	gap: 5px;
}

.btn {
	cursor: pointer;
	background-color: #fff;
	border-radius: 15px;
    padding: 2px;
	width: 32px;
	height: 32px;
}
.btn:hover {
	box-shadow: azure;
}
#social-stalker-progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 1%;
	background-color: #4CAF50;
	color: #fff;
	text-align: center;
	z-index: 9999;
	height: 5px;
}